extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let Apartmentid = toShow._id
    - let name = toShow.name
    - let price = toShow.price
    - let Location = toShow.Location
    - let actionid = "/resource/Apartment/" + Apartmentid

    script.
      let actionid = "#{actionid}"

    div
      div.row
        div(class='ApartmentAttr mr-3') Apartment ID is:
        div #{Apartmentid}
      div.row
        div(class='ApartmentAttr mr-3') Apartment name is:
        div #{name}
      div.row
        div(class='ApartmentAttr mr-3') Apartment price is:
        div #{price}
      div.row
        div(class='ApartmentAttr mr-3') Apartment Location is:
        div #{Location}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

    script.
      function cancel() {
        // Go back to the home page for the Apartment collection
        window.location.href='/Apartment'
      }

    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/Apartment'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }

