extends layout

block content
  h1= title
   - let results = [{ name: "Sai ram complex", price: 1000, Location:"Hyderabad" },{ name: "The Enclave", price: 56000, Location: "Taranaka" },{ name: "The Oasis", price: 2000, Location: "Narayanaguda" }]
  div.container-fluid
    div.row
      each Apartment,index in results
       div.col-sm-2(onclick=`buy(${index})`) #{Apartment.name}
       div.col-sm-2(onclick=`buy(${index})`) #{Apartment.Location}
       div.col-sm-2(onclick=`buy(${index})`) #{Apartment.price}
       br
       hr

  script. 
      function buy(index)
      {
        alert(`you purchased Item ${index+1}`)
      }